/*
 * Base structure
 */
@font-face {
    font-family: Battlestar;
    src: url(/css/battlest.ttf);
}

/* WELCOME PAGE */
.welcome-text {
    margin-bottom: 50px;
    text-align: center;
    font-family: Battlestar;
    font-size: 58px;
}
.signin-btn {
   margin-top: 75px;
    font-family: Battlestar;
    font-size: 35px;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


.mainPage {
    overflow: hidden;
    background-color: #666c6d;
    color: #b29c51;
}

/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #b29c51;
}
.strong {
    font-weight: bold;
}

/*.spinner div {*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*position: absolute;*/
    /*left: -20px;*/
    /*top: 40px;*/
    /*background-color: #987452;*/
    /*border-radius: 50%;*/
    /*animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);*/
/*}*/
/*.spinner div:nth-child(2) {*/
    /*animation-delay: 150ms;*/
/*}*/
/*.spinner div:nth-child(3) {*/
    /*animation-delay: 300ms;*/
/*}*/
/*.spinner div:nth-child(4) {*/
    /*animation-delay: 450ms;*/
/*}*/
/*@keyframes move {*/
    /*0% {left: 0%;}*/
    /*75% {left:100%;}*/
    /*100% {left:100%;}*/
/*}*/


.loading {
    position: absolute;
    top: 100px;
    left: 40%;
}
.loading-bar {
    display: inline-block;
    width: 10px;
    height: 75px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
    margin-right: 10px;
}
.loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0s;
}
.loading-bar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
}
.loading-bar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
}
@keyframes loading {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1, 2.2);
    }
    40% {
        transform: scale(1);
    }
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}
.navbar-brand {
    font-family: Battlestar;
    font-size: 45px;
    padding-top: 18px;
    padding-left: 2px;
}
.logout-Btn {
    font-family: Battlestar;
    font-size: 20px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
    background-color: #666c6d;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        /*z-index: 1000;*/
        display: block;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        /*background-color: #f5f5f5;*/
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    color: #eeeeee;
}
.nav-sidebar > li .strong {
    font-weight: bold;
}
.nav-sidebar > li > a:hover {
    color: #eeeeee;
    background-color: #317461;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:focus {
    color: #eeeeee;
    background-color: #428bca;
}
.actions-container {
    margin-bottom: 10px;
    padding-top: 5px;
}

/*
 * Main content
 */
.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


.mail-page {
    background-color: #454b4c;
    height: 100%;
}
.mail-overview {
    height: 94%;
}
.mail-overview .header {
    color: white;
    font-size: 25px;
    text-align: center;
    border: 2px solid #FFF;
}
.mail-overview .header .date {
    border-right: 2px solid white;
}
.mail-overview .header .subject {
    border-right: 2px solid white;
}
.mail-overview .mails {
    overflow-y: scroll;
    height: 100%;
    border: 2px solid #FFF;
}
.mail-overview .mails .empty-folder-message {
    text-align: center;
    font-size: 65px;
    color: rgba(136, 135, 135, 0.47);
    height: 100%;
    position: absolute;
    top: 35%;
    font-weight: bold;
    font-family: Battlestar;
    letter-spacing: 5px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}
/* Have every 2nd row element in a slightly different color to get striped rows */
div#mailItems > div.row:nth-of-type(2n) {
    background-color: #514F4A;
}
.mail-overview .entry {
    color: #FFF;
    text-align: center;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}
.mail-overview .entry.active {
    background-color: #987452;
}
.mail-overview .entry.newMail {
    font-weight: bold;
}
.mail-overview .entry:hover {
    background-color: #317461;
}
.mail-overview .entry .date {
    padding: 0;
    color: #9E9E9E;
}
.mail-overview .entry .date .time {
    font-size: 20px;
}
.mail-overview .entry .date .cal {
    font-size: 18px;
}
.mail-overview .entry .content {
    padding: 0;
    text-align: left;
}
.mail-overview .entry .content .subject {
    overflow: hidden;
    font-size: 20px;
    padding: 0;
    font-family: Console, serif;
}
.mail-overview .entry .content .from {
    font-size: 18px;
    font-style: italic;
    color: #9E9E9E;
}
.mail-separator {
    margin: 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgba(233, 187, 28, 0.8), transparent);
}
.mail-content .header {
    font-size: 20px;
    color: white;
    height: 11%;
}
.mail-content .control-bar {
    padding-left: 15px;
    height: 7%;
}
.mail-content .content {
    background-color: #454b4c;
    font-size: 18px;
    color: white;
    /*overflow-y: scroll;*/
    height: 74%;
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    margin-left: 3px;
    margin-right: 0;
}
.mail-content .content #mailDetails_Content {
    padding: 0;
    height: 100%;
}
.mail-content .content textarea {
    background-color: #454b4c;
    font-size: 20px;
    color: white;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 10px 0 10px;
}
.mail-content .mail-window {
    height: 0;
}
.mail-content .mail-window .mail-window-container {
    height: 0;
}
.mail-content .mail-window .mail-window-container .mail-window-item {
    width: 100%;
    display: block;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    height: 0;
    bottom: 0;
    overflow: hidden;
}
.mail-content .mail-window .mail-window-container .mail-window-item.active {
    background-color: #666c6d;
    display: block;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid white;
    /* TODO: Look for a way to replace fixed pixel height */
    height: 830px;
    position: relative;
    bottom: 830px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    overflow: visible;
}
.mail-content .mail-window .mail-window-container .mail-window-item .newmail-content {
    border: 0;
}
.newmail-content .newMail-window-close-btn {
    margin-top: -10px;
    margin-right: -53px;
    float: right;
    font-size: 24px;
    color: #FFF;
    cursor: pointer;
}
.newmail-content .newMail-window-close-btn:hover {
    color: #317461;
}
.newmail-content .newMail-window-min-btn {
    margin-top: -10px;
    margin-right: 1px;
    float: right;
    font-size: 24px;
    color: #FFF;
    cursor: pointer;

}
.newmail-content .newMail-window-min-btn:hover {
    color: #317461;
}
.mail-content .mail-window-bar {
    height: 5%;
    margin: 3px 0 0;
    padding-top: 4px;
}
.mail-content .mail-window-bar .mail-window-bar-container {
    padding: 0;
}
.mail-content .mail-window-bar .mail-window-bar-container .mail-window-bar-item {
    width: 20%;
    height: 100%;
    background-color: #6495ED;
    display: inline;
    float: right;
    color: #FFF;
    font-size: 22px;
    padding-top: 3px;
    padding-left: 2px;
    margin-right: 10px;
    border: 2px solid orange;
    cursor: pointer;
    border-radius: 10px;
}
/**************************************************************************************************
 ***                                New-Mail component                                          ***
 *** Modal dialog used from google closure sources. See goog/css/dialog.css for more            ***
 *** information.                                                                               ***
 **************************************************************************************************/
.newmail-content .newmail-from {
    background-color: #666C6D;
    width: 100%;
}
.newmail-content .newmail-subject {
    background-color: #666C6D;
    width: 100%;
}
.newmail-content .newmail-to {
    background-color: #666C6D;
    width: 100%;
}
.newmail-content .newmail-text {
    background-color: #666C6D;
    height: 77%;
    width: 100%;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    overflow-y: scroll;
}
.newmail-content .newmail-send-btn {
    margin-top: 10px;
}
.newmail-content .newmail-error-field {
    width: 100%;
    font-weight: bold;
    color: #F00;
    font-size: 21px;
    margin-top: 10px;
}


.mail-content .mail-window-bar .mail-window-bar-container .mail-window-bar-item:hover,
.mail-content .mail-window-bar .mail-window-bar-container .mail-window-bar-item.active {
    background-color: #317461;
}

.mail-window-bar-item .newMail-bar-close-btn {
    margin-top: -10px;
    margin-right: -7px;
    float: right;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
}
.mail-window-bar-item .newMail-bar-close-btn:hover {
    color: #317461;
}

/**************************************************************************************************
 ***                              Default Modal dialog                                          ***
 *** Modal dialog used from google closure sources. See goog/css/dialog.css for more            ***
 *** information.                                                                               ***
 **************************************************************************************************/
.modal-dialog {
    background: #c1d9ff;
    border: 1px solid #3a5774;
    color: #000;
    padding: 4px;
    position: absolute;
}
.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited  {
    color: #06c;
    cursor: pointer;
}
.modal-dialog-bg {
    background: #666;
    left: 0;
    position: absolute;
    top: 0;
}
.modal-dialog-title {
    background: #91BDF8;
    color: #000;
    /*cursor: pointer;*/
    font-size: 120%;
    font-weight: bold;
    /* Add padding on the right to ensure the close button has room. */
    padding: 8px 31px 8px 8px;
    position: relative;
    _zoom: 1; /* Ensures proper width in IE6 RTL. */
}
.modal-dialog-title-close {
    /* Client apps may override the URL at which they serve the sprite. */
    background: #e0edfe;
    cursor: default;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 15px;
    vertical-align: middle;
}
.modal-dialog-buttons,
.modal-dialog-content {
    background-color: #666c6d;
    padding: 8px;
    color: white;
}
.goog-buttonset-default {
    font-weight: bold;
}
/***********************                Empty Trash dialog                      *******************/
.empty-trash-modal .modal-dialog-content {
    font-size: 20px;
    text-align: center;
}
.empty-trash-modal .modal-dialog-title {
    text-align: center;
    font-size: 25px;
}

/**************************************************************************************************
 ***                              Welcome/Login page                                            ***
 **************************************************************************************************/
.failed-Login {
    font-size: 23px;
    font-weight: bold;
    color: red;
}
