{{ define "mails" }}
<div class="container-fluid mail-page">
    <div class="row">
        <!-- Mail overview -->
        <div class="col-sm-5 col-sm-offset-2 col-md-4 col-md-offset-1" style="padding-top: 20px;">
            <div id="mailOverview" class="container-fluid">
                <div class="row mail-overview-header">
                    <div class="col-md-3 mail-overview-date">
                        <div>Date</div>
                    </div>
                    <div class="col-md-9 mail-overview-subject">
                        <div>Subject / From</div>
                    </div>
                </div>
                <!-- Mails -->
                <div class="row mail-overview-entry">
                    <div class="col-md-12" style="padding: 0">
                        <div class="col-md-3 mail-overview-entry-date">
                            <div style="font-size: 25px;">18:23</div>
                            <div style="font-size: 18px;">19/02/2015</div>
                        </div>
                        <div class="col-md-9 mail-overview-entry-from">
                            <div>hansmueller@guckuck.de</div>
                        </div>
                        <div class="col-md-12 mail-overview-entry-subject">
                            <div>TestMail to show how it looks on huge subjects</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mail content -->
        <div class="col-sm-5 col-md-7" style="padding-top: 20px;">

            <table class="table table-bordered table-hover" style="width: 70%">
                <tbody id="mailTable">
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}
