{{ define "mails" }}
<div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 mail-page">
    <div class="row">
        <!-- Mail overview -->
        <div class="col-sm-5 col-md-4" style="padding: 20px;">
            <div id="mailOverview" class="mail-overview">
                <div class="row header">
                    <div class="col-md-9 subject">
                        <div>Subject / From</div>
                    </div>
                    <div class="col-md-3 date">
                        <div>Date</div>
                    </div>
                </div>
                <!-- Mails -->
                <div class="row mails">
                    <div id="mailItems" class="col-md-12">
                        <!-- Insertion point of all mail headers -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Mail details -->
        <div class="col-sm-7 col-md-8 mail-content" style="padding-top: 20px;">
            <!-- Header information row -->
            <div class="row header">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">From:</div>
                        <div id="mailDetails_From" class="col-md-11"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">Subject:</div>
                        <div id="mailDetails_Subject" class="col-md-11"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">To:</div>
                        <div id="mailDetails_To" class="col-md-11"></div>
                    </div>
                </div>
            </div>
            <!-- Control bar row -->
            <div class="row control-bar">
                <div id="ctrlBarContainer" class="col-md-12"></div>
            </div>
            <!-- Mail content row -->
            <div class="row content">
                <div id="mailDetails_Content" class="col-md-12" style="overflow-x: hidden;"></div>
            </div>
            <!-- New Mail Windows -->
            <div class="row mail-window">
                <div id="newMailWindowItems" class="col-md-12 mail-window-container"></div>
            </div>
            <!-- Window Bar for new, open mails -->
            <div class="row mail-window-bar">
                <div id="newMailBarItems" class="col-md-12 mail-window-bar-container"></div>
            </div>
        </div>
    </div>
</div>
{{ end }}
